<div class="grid-container">
  <div class="names">
    Names
  </div>
  <div *ngFor="let day of dayz">{{day}}</div>
</div>
<div class="empty-div" *ngIf="(userWorks$ | async) as userWorks">
  <div class="grid-container" *ngFor="let row of userWorks">
    <div class="names">{{row?.userName}}</div>
    <div title="{{wi?.name}}" *ngFor="let wi of row.workItems"[style.grid-column-start]="wi.dayFrom+1" [style.grid-column-end]="wi.dayFrom + wi.duration + 1" >
      {{wi?.id}}
    </div>
  </div>
</div>
