<header>
  <ul>
    <li>
      <select>
        <option *ngFor="let year of years">{{year}}</option>
      </select>
    </li>
    <li>
      <select>
        <option *ngFor="let month of monthNames">{{month}}</option>
      </select>
    </li>
    <li [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/load-data']">Load data</a>
    </li>
    <li [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/build-invoice']">Build
        invoice</a>
    </li>
  </ul>
</header>
